.App {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  margin: 0%;
  padding: 0%;
}
.post {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: orange;
  color: #fff;
  cursor: pointer;
}
.inputs {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}
.post button:hover {
  background: #2e7d32;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
